In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

import gmaps
import os

# Import API key
from api_keys import g_key
%matplotlib inline

In [2]:
print(g_key)

AIzaSyCcAN0T08slPgEIJ3noUaVnOnyBqrrnuMQ

In [3]:
weather_data=pd.read_csv("../Weatherpy/output_data/cityweather.csv")
weather_data.dropna(inplace = True)

In [4]:
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,sinnamary,18,GF,1627416683,73,5.3833,-52.9500,82.45,9.26
1,1,klaksvik,92,FO,1627416683,96,62.2266,-6.5890,52.72,12.57
2,2,kadoma,100,JP,1627416683,94,34.7333,135.5833,78.94,1.81
3,3,sao filipe,100,IN,1627416683,78,20.5113,76.2129,72.93,14.70
4,4,cherskiy,100,RU,1627416591,83,68.7500,161.3000,36.73,16.46
...,...,...,...,...,...,...,...,...,...,...
545,545,mount isa,97,GB,1627416691,87,53.6597,-1.8537,62.98,5.70
546,546,babu,87,CN,1627416811,84,24.4167,111.5167,78.76,2.21
547,547,inirida,95,CO,1627416811,79,3.8653,-67.9239,82.65,1.97
548,548,bac lieu,70,RS,1627416811,38,45.3919,19.2367,82.31,5.46
549,549,ketchikan,75,US,1627416811,77,55.3422,-131.6461,61.27,8.05

In [5]:
#configuring gmaps

gmaps.configure(api_key = g_key)

#creating Locations and humidity dataframes from the weather dataframe.

humidity = weather_data['Humidity']
locations = weather_data[['Latitude','Longitude']]

In [6]:
#plotting the heatmaps

fig = gmaps.figure()
#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights =humidity, dissipating = False, max_intensity = 10, point_radius = 1)

#Add layer

fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Narrowing down to cities with ideal weather conditions.

ideal_cities_df =  weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()
ideal_cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
25,25,lukovo,0,MK,1627416687,36,41.3494,20.6047,74.23,4.43
47,47,barcelos,0,PT,1627416619,79,41.5388,-8.6151,73.29,8.52
65,65,port elizabeth,0,CD,1627416696,46,-7.0349,29.7638,70.75,4.76
111,111,port alfred,0,CD,1627416696,46,-7.0349,29.7638,70.75,4.76
129,129,port lincoln,0,CD,1627416696,46,-7.0349,29.7638,70.75,4.76

In [8]:
#create a hotel_df
hotel_df =ideal_cities_df.loc[:,['City', 'Country','Latitude','Longitude']]
hotel_df['Hotel Name'] = ""
hotel_df.head()

               City Country  Latitude  Longitude Hotel Name
25           lukovo      MK   41.3494    20.6047
47         barcelos      PT   41.5388    -8.6151
65   port elizabeth      CD   -7.0349    29.7638
111     port alfred      CD   -7.0349    29.7638
129    port lincoln      CD   -7.0349    29.7638
151            lata      PT   40.1629    -8.3327
162  port macquarie      CD   -7.0349    29.7638
203      pontevedra      ES   42.4310    -8.6444
225       capoterra      IT   39.1763     8.9718
239      port blair      CD   -7.0349    29.7638
396  port shepstone      CD   -7.0349    29.7638
434    port hedland      CD   -7.0349    29.7638
501           fukue      JP   32.6881   128.8419
528          kaseda      JP   31.4167   130.3167
532      costa mesa      PT   41.9016    -8.6220
535      alexandria      EG   31.2156    29.9553

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params{"type" : "hotel"
    
}